@media screen and (min-width: 768px) {
  .skills img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .skills img {
    width: 50%;
    margin-bottom: 20px;
  }
}

.skills {
  background: rgba(54, 131, 162, 0.1); /*  40% opaque green */
  padding-top: 35px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 0;
}
.skills img {
  animation: glow 1s infinite alternate;
}

.skills ul {
  text-align: left;
  font-size: large;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #f1d419;
  }
  to {
    box-shadow: 0 0 10px 10px #f1d419;
  }
}
