@media screen and (min-width: 768px) {
}
@media screen and (max-width: 768px) {
  .college_project .brief {
    display: none;
  }
  .project-title {
    text-decoration: underline;
  }
}
.college_project {
  position: relative;
}

.college_project .details {
  border: none;
  text-align: justify;
  max-width: 95vw;
  outline: none;
  font-size: 15px;
}

.college_project .prof_name a {
  text-decoration: none;

  color: #800000;
}
.college_project .prof_name {
  text-align: left;
  color: #800000;
}

.college_project .duration {
  color: green;
  text-align: left;
}

.project {
  text-align: justify;
}

.project-title {
  background-color: rgba(72, 3, 84, 0);
  font-size: 20px;
  border: none;
  text-align: left;
}

.project-title:hover {
  text-decoration: underline;
}

.college_project .topic_head {
  font-weight: 500;
  font-size: large;
}
