@media screen and (min-width: 768px) {
  .companypage img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
@media screen and (max-width: 768px) {
  .companypage img {
    width: 60vw;
    padding-bottom: 20px;
  }
  .companypage .brief {
    display: none;
  }
  .project-title {
    text-decoration: underline;
  }
}
.companypage {
  position: relative;
}

.companypage .details {
  border: none;
  text-align: justify;
  max-width: 95vw;
  outline: none;
  font-size: 15px;
}

.companypage .designation {
  color: #800000;
}

.companypage .duration {
  color: green;
}

.number {
  background: rgba(72, 3, 84, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
}
.number:hover {
  font-size: 230%;
}
.companypage .topic_head {
  font-weight: 500;
  font-size: large;
}

.description img {
  width: 20px;
  margin-right: 0;
  padding: 0;
}
