.education {
  padding-top: 50px;
}
.education .brief {
  text-align: justify;
  padding-top: 20px;
  padding-left: 0px;
  margin-left: 0px;
  text-align: left;
  align-items: left;
}
.education img {
  width: 200px;
}
